---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Left
AlignOperands: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: true
BreakBeforeBraces: Allman
CompactNamespaces: false
Language: Cpp
PointerAlignment: Left
SortIncludes: true
SortUsingDeclarations: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
SpacesInSquareBrackets: true
TabWidth: 4
UseTab: Always
IndentCaseLabels: true
BreakConstructorInitializersBeforeComma: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterColon
BreakBeforeInheritanceComma: true
NamespaceIndentation: All
ColumnLimit: 160
AllowAllArgumentsOnNextLine: false
AllowShortLambdasOnASingleLine: Empty
ReflowComments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine : InlineOnly
...
