---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Left
AlignOperands: true
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters : false
BreakBeforeBraces: Allman
CompactNamespaces: false
Language: Cpp
PenaltyBreakAssignment: 10000
PointerAlignment: Left
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
SpacesInSquareBrackets: true
TabWidth: 4
UseTab: Always
IndentCaseLabels: true
BreakInheritanceList: AfterColon
BreakBeforeInheritanceComma: true
NamespaceIndentation: All
ColumnLimit: 160
ReflowComments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine : InlineOnly
AllowShortLambdasOnASingleLine : Inline
AllowAllArgumentsOnNextLine : false
AllowAllParametersOfDeclarationOnNextLine : false
SpaceBeforeCtorInitializerColon: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine : false
MaxEmptyLinesToKeep: 3
SortIncludes: true
SortUsingDeclarations: true
IncludeBlocks: Regroup
IncludeCategories:
# Matches common headers first, but sorts them after project includes
- Regex: '^\"'
  Priority: 1000
- Regex: '^<.*/.*'
  Priority: 4000
- Regex: '^<[^/]*>'
  Priority: 5000
...
